<div class="card-columns">

  <div class="card" *ngFor="let event of events; let i = index">
    <img
      src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{event.eventName}}</h5>
      <p class="card-text">{{event.eventDescription}}</p>
      <p class="card-text">{{event.eventAddress}}</p>
      <p class="card-text"><small class="text-muted">{{event.eventDate}}</small></p>
    </div>
    <a [routerLink]="['/event', event.id]" class="btn btn-primary">Go To this {{event.eventName}} Event</a>
  </div>
</div>